/* Banner start */

.topBanner{
    background-image: url("../images/hero-bg.jpg");
    min-height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

}

.bannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background:rgba(0, 0, 0, 0.5);
}
.bannerContent{
 margin-top: 10rem;
 text-align: center;
   
}

 .bannerContent span{
    font-family: 'Raleway', sans-serif;
    color: rgb(228, 194, 188);
    font-size: 35px;
    display: inline-block;
    transition: all .6s;
    animation: animate 4s infinite;
    font-weight: 700;
}

.bannerContent span:nth-child(1)
{animation-delay: .1s;}
.bannerContent span:nth-child(2)
{animation-delay: .2s;}
.bannerContent span:nth-child(3)
{animation-delay: .3s;}
.bannerContent span:nth-child(4)
{animation-delay: .4s;}
.bannerContent span:nth-child(5)
{animation-delay: .5s;}
.bannerContent span:nth-child(6)
{animation-delay: .6s;}
.bannerContent span:nth-child(7)
{animation-delay: .7s;}
.bannerContent span:nth-child(8)
{animation-delay: .8s;}
.bannerContent span:nth-child(9)
{animation-delay: .9s;}
.bannerContent span:nth-child(10)
{animation-delay: .10s;}
.bannerContent span:nth-child(11)
{animation-delay: .11s;}
.bannerContent span:nth-child(12)
{animation-delay: .12s;}

@keyframes animate{
    0%{
        color: #daaa57;
        transform: translateY(0);
        margin-left: 0;
    }
    25%{
        color: tomato;
        transform: translateY(-20px);
        text-shadow: 0 15px 5px rgba(0, 0, 0, 0.4);
        margin-left: 8px;
    }
    100%{
        color: #daaa57;
        transform: translateY(0);
        
    }
}

.feature h5{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    text-align: center;
   top: 45%;
   left: 40%;
   color: whitesmoke;
} 

.banner-link{
    position: absolute;
    top: 70%;
    left: 43%;
    width: 150px;
    padding: 6px;
    /* font-size: 16px; */
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 400;
    box-sizing: border-box;
    background-color: #daaa57;
    /* background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4); */
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}
 .banner-link:hover{
    color: whitesmoke;
    animation: animates 5s linear infinite;
    background-position: 400%;
}

@keyframes animates 
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
} 
 .banner-link:before{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  opacity: 0;
  /* transition: 0.5s; */

}
 .banner-link:hover:before{
    filter: blur(20px);
    opacity: 1;
}  


/* Banner End */

/* all h2 , small tag */
h2{
	margin:20px;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.05);
	font-family: myriad pro;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	font-size:2rem;
	color:#32374d;
}

  small {
      color:#7A72FF;
    }




/*  nav-menu */

 .menu-logo{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-right: 15px;
     margin-left:50px ;
 }
.nav-bg{
    background-color: rgba(0, 0, 0, 0.178)  !important;
    transition:background-color 500ms linear;
    -webkit-transition:background-color 500ms linear;
    -o-transition:background-color 500ms linear;
    -moz-transition:background-color 500ms linear;
}
.nav-bgScroll{
    background-color: rgba(0, 0, 0, 0.8) !important;
    transition:background-color 600ms linear;
    -webkit-transition:background-color 600ms linear;
    -o-transition:background-color 600ms linear;
    -moz-transition:background-color 600ms linear;
}

.nav-title{
    color: white !important ;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none !important;
    
}
.nav-titleScroll{
    color: #dfaa4f !important;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none !important;
    
}

.menu-item{
    color: rgb(219, 212, 219) ;
    text-decoration: none;
    
}
.menu-itemScroll{
    color: white;
    text-decoration: none;
}

.menu-item:hover{
    color:#dfaa4f !important;
    border-bottom: 2px solid #dfaa4f !important;
}
.menu-itemScroll:hover{
    border-bottom: 2px solid #dfaa4f !important;
    color:#dfaa4f !important;
}

/* Services area */
.bg-service{
    background-color: black;
    padding-bottom: 25px;
}
.box{
    
   padding: 50px 30px;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
   transition: all ease-in-out 0.5s;
   background: #1a1814;
  
   
}
.box:hover{
    background: #cea256;
   padding: 30px 30px 50px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}
.services-head{
    color:#cea256;
    text-align: center;
    margin-bottom: 20px;
}

.services-img{
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
  
    border: 2px solid #daaa57;
    background-color: rgb(189, 187, 187);  
 
}

.services-img:hover{
    background-color: #daaa57;


}

.services-title{
    text-align: center;
    margin-top: 25px;
    font-size: 23px;
    color: rgb(209, 205, 205);
    letter-spacing: 1.5px;
  }
  .box p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: justify;
  }
   .box:hover h3, .box:hover p {
    color: #fff;
  }


  /* Analysis area */

.bg-analysis{
     /* background-color: rgb(214, 212, 212);  */
     padding-bottom: 35px; 
}

  .analysis-content{
      font-size: 18px;
      text-align: justify;
  }


  /* summary section start */
  .summary{
    background-image: url("../images/summary.jpg");
    min-height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

}

.summaryOverlay{
    position: absolute;
    min-height: 350px;
    width: 100%;
    background:rgba(0, 0, 0, 0.7);
}

.countNumber{
    font-size: 45px;
    font-weight: 700;
    color: #db9112;
 
}
.countTitle{
    font-size: 25px;
    font-weight: 600;
    color: #fff; 
}
.countSection{
    margin-top: 17%;

}

.cardTitle{
    font-family: 600;
    font-size: 22px;
    color: #000000;
    margin-bottom: 15px;
}
.cardContent{
    font-family: 400;
    font-size: 18px;
    color: #000000;
    margin: 5px;
    text-align: left;
}
.countCard{
    padding: 10px;
    margin-top: 17%;
    width: 300px;
}
.cardIcon{
    color:rgb(47, 47, 158);
    font-size: 16px;
}


/* Recent Projects */

.projectSection {
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.4);
	margin:30px auto;
	align-items: center;
	padding:40px 20px;
	margin-top: 50px;
	position: relative;
	/* background-size:1000px; */
	border-radius: 10px;
}

.project{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0px;
	width:100%;
}



.projectBox{
	/* width:250px; */
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 8px;
	position: relative;
	margin: 10px 10px;
    padding-bottom: 20px;

}

.projectBox img {
	height: 150px;
   
}

 .projectBox p{
	/* color:#4d4d4d70; */
	font-family: myriad pro;
	font-size: 0.9rem;
	letter-spacing: 0.5;
    text-align: center;
} 
.projectBox a{
	color:#2c2c2c;
	font-family: poppins;
	font-size: 1rem;
}

.detailBtn{
    color: #ffffff !important;
    font-size: 18px !important;
    text-decoration: none;
	position: absolute;
	width:140px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:calibri;
	left: 50%;
	bottom: -20px;
	transform: translateX(-50%);
	border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
	background:linear-gradient(120deg,#6b60ec 20%,#a166f4);

	animation: fade 0.2s;
}

.moreInfoBtn{
    color: #ffffff !important;
    font-size: 16px !important;
    text-decoration: none;
    padding: 3px 10px;
    background-color: #6b60ec;
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
}


.projectBox:hover{
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
	background-color:#FFFFFF;
}
/* .projectBox:hover Button{
	color: #fff;
	transition: all ease 0.5s;
	
} */


/*  Course section */

.courseSection {
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.4);
	margin:30px auto;
	align-items: center;
	padding:40px 20px;
	margin-top: 50px;
	margin-bottom: 30px;
	position: relative;
	border-radius: 10px;
}

.courseImg{
    width: 100%;
}

.courseDetails{
    font-family: myriad pro;
    font-size: 16;
    font-weight: 500;
   text-decoration: none;
}

.courseDetails:hover{
	background-color: #2f2e41;
	border-radius: 10px;
	color:#fff;
	font-family: calibri;
	font-weight: 600;
    cursor: pointer;
    border: transparent !important;
    padding: 5px 10px;
}


/* Video section */

.videoSection {
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.4);
	margin:30px auto;
	align-items: center;
	padding:60px 80px;
	margin-top: 50px;
	margin-bottom: 30px;
	border-radius: 10px;
}
.videoDes{
    font-size: 16px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

.play-btn {
    font-size: 60px;
    color: #2e2a77;
    cursor: pointer;
    background: radial-gradient(#f5a720 50%, rgb(231, 173, 73) 52%);
    border-radius: 50%;
    margin-top: 20px;
  }

  .closeBtn{
    font-size: 30px;
    color: #2e2a77;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
  }
 

  /* Review  section*/

  .reviewSection{
    background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.4);
	align-items: center;
	/* padding:60px 80px; */
	/* margin-top: 50px; */
	margin-bottom: 30px;
	border-radius: 10px;

  }

  .reviewImg{
      width: 100px;
      height: 100px;
      margin: 0 auto;
      border-radius: 50%;
      border: 1px solid green;
  }


  /* Footer section */
  .socialIcon{
      color: #7A72FF;
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
  }
  .socialIcon:hover{
      text-decoration: none;
      color:#db9112;
      font-weight: 600;
      font-size: 16px;
  }

 .copySection{
    background-color: rgb(202, 199, 199);
    padding: 10px;
    color: rgb(51, 16, 116);
 }
  .copyRightSection{
      text-decoration: none;   
      
  }

  .footerLink{
      text-decoration: none;
      color: #6b60ec;
      font-weight: 600;
      font-size: 18px;
  }



  /* Page top section */
  .topPageBanner{
    background-image: url("../images/topPageBanner.jpg");
    min-height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.topPageOverlay{
    position: absolute;
    min-height: 300px;
    width: 100%;
    background:rgba(0, 0, 0, 0.5);
}
.topPageContent{
 margin-top: 5rem;
 text-align: center;
   
}

.aboutTitle h2{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    text-align: center;
    top: 45%;
    left: 40%;
    color: whitesmoke;
} 


/* contact area */

.form-control:focus{
    border-radius: 3px !important;
    border: #a166f4 !important;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2) !important;

}
